body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #f2eae4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    flex: 1;
    padding: 20px;
}

nav {
    padding: 10px; 
    position: relative;
}

nav ul {
    display: flex; 
    justify-content: center; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

nav ul li {
    margin: 0 15px; 
    position: relative;
}

nav a {
    color: #000; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 20px; 
    display: block; 
    padding: 10px 20px; 
}

nav a:hover {
    background-color: #555; 
    border-radius: 5px; 
}

h1{
    font-size: 30px;
    display: flex;
    justify-content: center;
}

h2{
    font-size: 20px;
    margin-top: 25px;
}

.experiencia-container, .proyectos-container {
    display: flex;
    gap: 20px; 
    flex-wrap: wrap; 
}

.experiencia, .proyectos {
    border: 1px solid #333;
    padding: 15px;
    flex: 1;
    min-width: 45%; 
    box-sizing: border-box;
}

section ul {
    list-style: none; 
    border: 1px solid #333;
    padding: 15px;
    box-sizing: border-box;
    
    
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin: 0;
}

.social-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    display: inline;
    margin: 0 15px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}


